.home{
    background-color:#caf0f8;
    background-size: cover;
    width: 100vw;
    color:#000814;
}

 .home h1{
    padding: 20px;
    padding-left: 50px;
    font-size: 2.5rem;
    font-weight: 600;
}

.home h3{
    padding: 5px;
    padding-left: 50px;
    font-size: 1.5rem;
    font-weight: 400;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:20px;
    /* border-top: 2px solid grey; */
}

